*{
	margin:0;
	padding:0;
	border:0;	
}
body{
	background : #353535;
	color : #eee;
}
div.banner{
	position:relative;
	margin:200px auto 0;
	width:800px;
	height:300px;
	outline:1px solid #FFF; 
}
div.banner ul{
	margin-top:10px;	
}
div.banner ul li{
	display:block;
	position:absolute;
	float:left;
}
div.banner ul li img{
	display:block;
}
	
