body{
	background : #353535;
	color : #eee;
}
#canvas3d{
	position   : absolute;
	left       : 0;
	right      : 0;
	top        : 0;
	bottom     : 0;
	margin     : auto;
	outline    : 1px solid #050505;
	background : #202020;
}
#fps{
	color:#353535;
	text-shadow : 0px 0px 2px white, 0 0 2px #99E;
	letter-spacing: 1px;
}