*{
	margin:0;
	padding:0;
	border:0;	
}
body{
	background : #FFF;
	color : #eee;
}
div.banner{
	position:relative;
	margin:200px auto 0;
	width:800px;
	height:300px;
	outline:1px solid #FFF; 
}
div.banner ul{
	margin-top:10px;	
}
div.banner ul li{
	display:block;
	position:absolute;
}
div.banner ul li img{
	display:block;
}
div.banner .next{
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	right:-10px;
	top:110px;
	background-image:url('image/next.png');
	background-repeat:no-repeat;
}
div.banner .back{
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	left:-10px;
	top:110px;
	background-image:url('image/prev.png');
	background-repeat:no-repeat;
}
	
